.row.margin-top-25
  .col-md-1
  .col-md-10
    .logotitle
    %h2.page_title
      Sistema Ágil de Gestión y Provisionamiento
  .col-md-1

.row.margin-top-20
  .col-md-2
  .col-md-8
    %a{ href: '/ppmreports', class: "appblock app1" }
      Reportes ejecutivos de KPIs
    %a{ href: '/tailfpages', class: "appblock app2" }
      Provisionamiento multi-fabricante
    %a{ href: '#', class: "appblock app3" }
      Ingeniería de tráfico
  .col-md-2